version: '3.8'

services:
  rpc-node:
    image: ethereum/client-go:v1.13.14
    container_name: eth-node1
    entrypoint: [ "geth" ]
    command: >
      --datadir /root/.ethereum --networkid 1451 --nodiscover --port 30303 --http --http.addr 0.0.0.0 --http.port 8545 --http.corsdomain=* --http.vhosts=* --http.api eth,net,web3,personal,admin,clique --unlock 0x9c81438443d7fa1cb99ed3d4ecdf781d58ab91fd --password /root/.ethereum/password.txt --allow-insecure-unlock --mine --miner.etherbase 0x9c81438443d7fa1cb99ed3d4ecdf781d58ab91fd
    volumes:
      - ./nodes/node1:/root/.ethereum
      - ./genesis.json:/genesis.json:ro
      - ./password.txt:/root/.ethereum/password.txt:ro
    ports:
      - "8545:8545"
      - "30303:30303"
    networks:
      - eth-network
    restart: unless-stopped

networks:
  eth-network:
    driver: bridge
